html,
body {
  max-width: 100%;
  overflow-x: hidden; /*per nascondere la barra alla fine della pagina che si forma a causa dell'overflow:visible del carousel */
}

.navbar-toggler-icon {
  color: white;
}

.navbar-text a {
  color: #dee2e6;
}
.navbar-text a:hover {
  color: #dee2e6;
}

/*.carousel-item {
  overflow: visible;
}*/

.carousel-img {
  width: 230px;
  transition: transform 0.3s;
}

.carousel-item > .row {
  scroll-behavior: smooth; /*per uno scorrimento fluido delle immagini*/
  padding-bottom: 1rem;
}

.carousel-item .row > div:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.carousel-item .row > div {
  transition: transform 0.5s ease-in-out;
}

.carousel-inner {
  overflow: visible; /*per permettere l'uscita del div intero dal carousel-inner*/
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-4 {
  opacity: 0.4;
}

.nav-custom-fs {
  font-size: 14px;
}

#social-icons span {
  flex-basis: 100px; /* Larghezza iniziale per gli elementi */
  flex-shrink: 1; /* Permette agli elementi di restringersi */
  margin: 5px; /* Spazio tra gli elementi */
}

.fa-brands {
  color: white;
  padding: 25px 15px;
  font-size: 25px;
  opacity: 0.6;
}

#link-lists ul {
  color: white;
  margin-top: 1rem;
  opacity: 0.6;
}

#link-lists ul li {
  list-style: none;
  line-height: 2.5;
}

.btn-outline-secondary {
  border-radius: 0;
  border: 2px solid white opacity(0.6);
}

@media (min-width: 1900px) {
  .carousel-inner,
  .carousel-item {
    overflow: visible; /*solo su desktop per un overflow di immagine parziale*/
  }
  .carousel-img {
    width: 280px;
  }
}

@media (min-width: 992px) {
  .carousel-inner,
  .carousel-item {
    overflow: visible; /*solo su desktop per un overflow di immagine parziale*/
  }
  .carousel-img {
    width: 280px;
  }
}

@media (max-width: 992px) {
  body {
    max-width: 100vh;
  }
  .carousel-inner,
  .carousel-item {
    overflow: hidden !important;
  }
  .carousel-img {
    width: 100%; /*per rendere le immagini responsive nei contenitori piu'piccoli*/
    max-width: 230px;
  }
  .carousel-item .row {
    flex-wrap: wrap; /*per spezzare la riga con lo schermo piu' piccolo*/
    justify-content: center;
  }
  .carousel-item .row > div:hover {
    transform: none; /*cosi' non si ingrandiscono su dispositivi mobili*/
  }
}

@media (max-width: 576px) {
  body {
    max-width: 100vh;
  }
  .carousel-inner,
  .carousel-item {
    overflow: hidden !important;
  }
  .carousel-img {
    width: 100%;
    max-width: 180px;
  }
  .carousel-item .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .carousel-item .row > div:hover {
    transform: none;
  }
}
