body {
  overflow-x: hidden; /*per nascondere la barra alla fine della pagina che si forma a causa dell'overflow:visible del carousel */
}

.navbar-text a {
  color: #dee2e6;
}
.navbar-text a:hover {
  color: #dee2e6;
}

.carousel-item {
  overflow: visible;
}

.carousel-img {
  width: 230px;
  transition: transform 0.3s;
}

.carousel-item > .row {
  scroll-behavior: smooth; /*per uno scorrimento fluido delle immagini*/
  padding-bottom: 1rem;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-4 {
  opacity: 0.4;
}

.nav-custom-fs {
  font-size: 14px;
}

.carousel-custom-wrapper {
  overflow: visible;
  position: relative;
  width: calc(250px * 6.8);
  margin: 5px;
}

.carousel-track {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.fa-brands {
  color: white;
  padding: 25px 15px;
  font-size: 25px;
  opacity: 0.6;
}

#link-lists ul {
  color: white;
  margin-top: 1rem;
  opacity: 0.6;
}

#link-lists ul li {
  list-style: none;
  line-height: 2.5;
}

.btn-outline-secondary {
  border-radius: 0;
  border: 2px solid white opacity(0.6);
}

@media (min-width: 1900px) {
  .carousel-img {
    width: 280px;
  }
}

@media (max-width: 991.98px) {
  .carousel-img {
    width: 200px;
  }
}

@media (max-width: 767.98px) {
  .carousel-img {
    width: 180px;
  }
}
